.formularz {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10px auto;
}

.formularz input {
  padding: 0 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  flex: 1;
  height: 44px;
  box-sizing: border-box; /* ważne dla prawidłowego liczenia wysokości */
}

.formularz input:focus {
  border-color: #b14aff;
}

.formularz button {
  padding: 0 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #b14aff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 44px;
  box-sizing: border-box;
}

/* Dodaj style dla kontenera z buttonem "Nowy produkt" */
.pudelko_z_batonami {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10px auto;
}

.pudelko_z_batonami button {
  padding: 0 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #b14aff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 44px; /* taka sama wysokość jak elementy w formularzu */
  box-sizing: border-box;
}

.pudelko_z_batonami button:hover,
.formularz button:hover {
  background-color: #9d3ee6;
}