:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}



.lista_z_kropkami {
  display: flex;  /* Flexbox */
  flex-direction: column;  /* Układ pionowy */
  justify-content: center;  /* Wyśrodkowanie w pionie */
  align-items: center;  /* Wyśrodkowanie w poziomie */
  height: 100vh;  /* Cała wysokość ekranu */
}

.lista_z_kropkami ul {
  list-style-type: none;  /* Usunięcie punktów z listy */
  padding: 0;
  margin: 0;
}

.lista_z_kropkami ul li {
  background-color: #f5f5f5;  /* Kolor tła dla karty */
  border-radius: 10px;  /* Zaokrąglone rogi */
  padding: 20px;
  margin: 5px 0;  /* Przerwa między kartami */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Cień */
  text-align: left;  /* Wyrównanie tekstu do lewej */
  width: 300px;  /* Stała szerokość dla wszystkich kart */
  max-width: 100%;  /* Aby karta nie była szersza niż szerokość ekranu */
  box-sizing: border-box;  /* Uwzględnia padding i border w szerokości */
  padding-left: 15px;  /* Margines od lewej, aby tekst nie był przyklejony do krawędzi */
}

h1 {
  text-align: center;  /* Wyrównanie tekstu do lewej */
}

button {
  margin: 0 100px;
  padding: 1em;
  color: blue;
  font-size: 17px;
}